* {margin: 0; padding: 0;}
body {
  height: 1740px;
}
.back {
  height: 50px;
  width: 50px;
  z-index:-1;
  position: relative;
}
.login {
  position: absolute;
}
.img {
  margin-top: 210px;
  margin-left: 290px;
  transform: scale(0.75,0.75);
}
.login h1 {
  font-size: 65px;
  font-weight: 600;
  margin-left: 250px;
}
.login h2 {
  font-size: 27px;
  font-weight: 400;
  margin-left: 365px;
  margin-top: 20px;
}
.account {
  font-size: 47px;
  font-weight: 500;
  margin-left: 130px;
  margin-top: 110px;
}
.cipher {
  font-size: 47px;
  font-weight: 500;
  margin-left: 130px;
  margin-top: 100px;
}
.five_input {
  width: 680px;
  height: 70px;
  outline: none;
  margin-left: 130px;
  margin-top: 10px;
}
.five_input label input {
  width: 680px;
  height: 70px;
  outline: none;
  padding: 20px;
  font-size: 45px;
  font-weight: 400;
  border-width: 6px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(5, 47, 87);
  background-color: rgb(246, 246, 246);
}
.login button {
  color: white;
  width: 730px;
  height: 120px;
  border: none;
  outline: none;
  margin-top: 150px;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 130px;
  background-color: rgb(5, 47, 87);
  box-shadow: 0 3px 40px 0 rgba(5, 47, 87, 0.3);
}
.login button span {
  font-size: 50px;
  letter-spacing: 30px;
}

.bottom_forget {
  font-size: 50px;
  margin-top: 60px;
  margin-left: 130px;
}
.bottom_register {
  font-size: 50px;
  margin-top: -67px;
  margin-left: 660px;
}
