/* 公用样式 */
* {margin: 0; padding: 0;}
a {text-decoration: none; }
body{
  background: #f1f1f8 ;
}
header {
  width: 100%;
  height: 122px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 1);
}
.header_box{
  font-size: 16px;
  line-height: 1.5;
}
.header_left {
  float:left;
  width: 250px;
  margin-left: 20%;
}
.header_left p {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.header_right{
  float:right;
  margin-right: 27%;
}
.header_right ul {
  width: 100%;
  height: 77px;
  padding-top: 35px;
}
.header_right ul li {
  float: left;
  width: 110px;
  padding: 20px;
  list-style-type: none;
}
.hide {
  height: 21px;
  position:relative;
  overflow:hidden;
  text-align: center;
}
.hide div {
  bottom: 0;
  width: 110px;
  height: 100%;
  position: absolute;
  transition: bottom 0.3s;
  color: rgba(171, 175, 183, 1);
}
.hide p {
  top: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: top 0.3s;
  color: white;
}
.hide:hover div {
  bottom:100%;
}
.hide:hover p {
  top:0;
}

.address {
  height: 64px;
  width: 1200px;
  margin: 42px auto;
  background: rgba(2, 167, 240, 1);
}
.address p {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-top: 6px;
}
.page_one{
  width: 2000px;
  display: table-cell;
  text-align: center;
}
.page_one h1{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1;
}
.page_one h2{
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.page_one button {
  color: white;
  width: 232px;
  height: 72px;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 6px 6px 6px 6px;
  transition: background-color 0.3s;
  background-color: rgb(81, 56, 231);
  box-shadow: 0 3px 40px 0 rgba(81, 56, 231, 0.3);
}
.page_one button:hover {
  background-color: #FF3C81;
}
.page_one button:active {
  background-color: #000000;
}
.page_one button span {
  font-size: 36px;
  letter-spacing: 2px;
}
.wrap {
  margin-top: 20px;
}
.wrap a {
  text-decoration:underline;
}

.page_two {
  height: 930px;
  background-color: #000000;
}
.two_left {
  width: 27%;
  height: 470px;
  padding-top: 10%;
  padding-left: 10%;
  border: 10px;
  color: white;
  float: left;
}
.our_service {
  color: white;
  font-size: 15px;
  border: 0 solid #1c1f21;
  background-color: #1c1f21;
  padding: 5px 30px 5px 30px;
  border-radius: 50px 50px 50px 50px;
}
.our_service span {
  letter-spacing: 2px;
  font-weight: bold;
}
.two_left h1 {
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}
.big {
  font-size: 18px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 8px;
}
.little {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 60px;
}
.know_more {
  width: 95%;
  height: 14%;
  font-size: 14px;
  line-height: 21px;
}
.know_more span{
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
.two_middle {
  float: left;
  height: 50px;
  margin-top: 16%;
}


.page_three{
  height: 830px;
}
.page_three h1{
  font-size: 18px;
  margin-top: 150px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  color: rgb(253, 52, 110);
}
.page_three h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}
.appraise {
  width: 1593px;
  height: 407px;
  margin: 60px auto;
}
.three_box {
  width: 27%;
  float: left;
  height: 350px;
  margin-left: 75px;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
}
.little_png{
  margin-top: -60px;
  margin-left: 32%;
  transform: scale(0.5, 0.5);
}
.three_box div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 30px;
  color: rgb(112, 121, 139);
}
.p_first {
  margin-top: -50px;
}
.p_second {
  margin-top: 10px;
  margin-bottom: 20px;
}
hr {
  width: 85%;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: #d6d6d6;
}
.bath_feedback {
  float: left;
}
.bath_feedback h3 {
  margin-top: 24px;
  margin-left: 30px;
}
.p_third {
  margin-top: 12px;
}
.five_star {
  float: right;
  margin-top: 60px;
  margin-right: 8%;
}

.page_copyright{
  height: 47px;
  font-size: 15px;
  background-color: rgb(243, 243, 243);
}
.page_copyright span{
  text-align: center;
  display:block;
padding-top: 15px;
  box-sizing: border-box;
  color: rgb(111, 111, 111);

}
