/* 公用样式 */
* {margin: 0; padding: 0;}
a {text-decoration: none; }
body{
  background: #f1f1f8 ;
}
header {
  width: 100%;
  height: 122px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 1);
}
.header_box {
  font-size: 16px;
  line-height: 1.5;
}
.header_left {
  float: left;
  width: 250px;
  margin-left: 20%;
}
.header_left p {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.header_right {
  float: left;
  margin-left: 7%;
}
.header_right ul {
  width: 100%;
  height: 77px;
  padding-top: 35px;
}
.header_right ul li {
  float: left;
  width: 110px;
  padding: 20px;
  list-style-type: none;
}
.hide {
  height: 21px;
  position:relative;
  overflow:hidden;
  text-align: center;
}
.hide div {
  bottom: 0;
  width: 110px;
  height: 100%;
  position: absolute;
  transition: bottom 0.3s;
  color: rgba(171, 175, 183, 1);
}
.hide p {
  top: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: top 0.3s;
  color: white;
}
.hide:hover div {
  bottom:100%;
}
.hide:hover p {
  top:0;
}

.address {
  height: 64px;
  width: 1200px;
  margin: 42px auto;
  background: rgba(2, 167, 240, 1);
}
.address p {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-top: 6px;
}
.page_one{
  width: 2000px;
  display: table-cell;
  text-align: center;
}
.page_one h1{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1;
}
.page_one h2{
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.page_one button {
  color: white;
  width: 232px;
  height: 72px;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
  background-color: rgb(81, 56, 231);
  box-shadow: 0 3px 40px 0 rgba(81, 56, 231, 0.3);
}
.page_one button:hover {
  background-color: rgb(255, 60, 129);
  box-shadow: 0 3px 40px 0 rgba(255, 60, 129, 0.3);
}
.page_one button span {
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 2px;
}
.wrap {
  margin-top: 20px;
}
.wrap a {
  text-decoration:underline;
}

.page_two {
  height: 923px;
  background-color: #000000;
}
.two_left {
  width: 27%;
  height: 470px;
  padding-top: 10%;
  padding-left: 10%;
  border: 10px;
  color: white;
  float: left;
}
.our_service {
  color: white;
  font-size: 15px;
  border: 0 solid #1c1f21;
  background-color: #1c1f21;
  padding: 5px 30px 5px 30px;
  border-radius: 50px 50px 50px 50px;
}
.our_service span {
  letter-spacing: 2px;
  font-weight: bold;
}
.two_left h1 {
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}
.big {
  font-size: 18px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 8px;
}
.little {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 60px;
}
.know_more {
  width: 95%;
  height: 14%;
  font-size: 14px;
  line-height: 21px;
}
.know_more span{
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
.two_middle {
  float: left;
  height: 50px;
  margin-top: 16%;
}


.page_three{
  height: 887px;
}
.page_three h1{
  font-size: 18px;
  margin-top: 150px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  color: rgb(253, 52, 110);
}
.page_three h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  margin-top: 20px;
}
.appraise {
  width: 1593px;
  height: 407px;
  margin: 60px auto;
}
.three_box {
  width: 27%;
  float: left;
  height: 350px;
  margin-left: 75px;
  margin-top: 100px;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
}
.little_png{
  margin-top: -60px;
  margin-left: 32%;
  transform: scale(0.5, 0.5);
}
.three_box div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 30px;
  color: rgb(112, 121, 139);
}
.p_first {
  margin-top: -50px;
}
.p_second {
  margin-top: 10px;
  margin-bottom: 20px;
}
hr {
  width: 85%;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: #d6d6d6;
}
.bath_feedback {
  float: left;
}
.bath_feedback h3 {
  margin-top: 24px;
  margin-left: 30px;
}
.p_third {
  margin-top: 12px;
}
.five_star {
  float: right;
  margin-top: 60px;
  margin-right: 8%;
}

.page_fourth {
  height: 927px;
  background-color: white;
}
.four_left {
  width: 24%;
  float: left;
  padding-top: 8%;
  padding-left: 10%;
}
.four_left h1 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 50px;
  color: rgb(253, 52, 110);
}
.four_left h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.four_left p {
  line-height: 30px;
}
.four_left button {
  color: white;
  width: 152px;
  height: 48px;
  border: none;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
  background-color: rgb(255, 60, 129);
  box-shadow: 0 3px 40px 0 rgba(255, 60, 129, 0.3);
}
.four_left button:hover {
  background-color: rgb(81, 56, 231);
  box-shadow: 0 3px 40px 0 rgba(81, 56, 231, 0.3);
}
.four_left button span {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
}
.four_img {
  float: left;
  margin-top: 130px;
  margin-left: 4%;
}
.four_img img{
  border-radius: 25px;
}
.four_right {
  float: left;
  width: 22%;
  padding-top: 10%;
  padding-left: 5%;
}
.four_right h3{
  font-size: 20px;
  line-height: 100px;
  color: rgb(81, 56, 231);
}
.four_right p {
  font-size: 16px;
  line-height: 70px;
  margin-top: -40px;
}
.four_right a {
  text-decoration: underline;
}

.page_fifth {
  height: 671px;
  background-color: rgb(81, 56, 231)
}
.page_fifth h1 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding-top: 150px;
}
.page_fifth h2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 75px;
  text-align: center;
  padding-top: 15px;
}
.page_fifth p {
  color: white;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 30px;
}

.five_left {
  width: 24%;
  float: left;
  padding-top: 100px;
  padding-left: 5%;
}
.five_left h1 {
  font-size: 19px;
  font-weight: 700;
  padding-top: 0;
  text-align: right;
}
.five_input {
  float: left;
  margin-top: 100px;
}
.five_input input {
  background-color: rgba(185, 255, 222, 0);
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  width: 580px;
}
.five_button {
  float: left;
  margin-top: 50px;
  margin-left: 1%;
}
.five_button button {
  color: white;
  width: 182px;
  height: 56px;
  border: none;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 6px;
  background-color: rgb(255, 60, 129);
}
.five_button button span {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
}
.five_right {
  float: left;
  margin-top: -130px;
  transform: scale(0.7, 0.7)
}


.page_copyright {
  height: 70px;
  font-size: 15px;
  background-color: rgba(241, 241, 248, 1);
}
.page_copyright span {
  display: block;
  text-align: center;
  padding-top: 30px;
  color: rgb(111, 111, 111);
}
