* {margin: 0; padding: 0;}
.background_white {
  z-index:-1;
  height: 300px;
  width: 400px;
  background-color: white;
  position: absolute;
}
.background_orange {
  border-radius: 1000px/50px;
  z-index:-1;
  height: 500px;
  width: 400px;
  background-color: #FCB946;
  margin-top: 300px;
  position: absolute;
}

.brand {
  width: 10%;
  float: left;
}
.orient_position {
  float: left;
  padding-top: 70px;
  padding-left: 1px;
}
.orient_position p {
  color: #004793;
  font-size: 16px;
}
.blank {
  width: 38.5%;
  height: 95px;
}
.content h1 {
  font-size: 20px;
  font-weight: 450;
  padding-left: 45px;
}
button {
  width: 250px;
  height: 45px;
  border: none;
  margin-left: 7%;
  margin-top: 30px;
  border-radius: 6px;
}
span {
  color: white;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 5px;
}
.go_campus {
  margin-top: 30px;
  background-color: rgb(81, 56, 231);
  box-shadow: 0 3px 40px 0 rgba(81, 56, 231, 0.3);
}
.share_service {
  margin-top: 20px;
  background-color: rgb(255, 60, 129);
  box-shadow: 0 3px 40px 0 rgba(255, 60, 129, 0.3);
}

